fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic
alembic
httpx
python-dotenv
langchain-core
langchain-community
langchain-huggingface
langchain-ollama
langchain-openai
tqdm
sentence-transformers
numpy
faiss-cpu
